/* 页面自定义滚动条 */
body::-webkit-scrollbar{
    width: 6px;
    /* height: 6px; */
}
body::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(26,42,71,.16);
}
body::-webkit-scrollbar-track{
    background-color: transparent;
}


.container{
    width: 100%;
}

/* 头部 */
.container .header{
    height: 60px;
}
.container .header>ul{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    font-size: 18px;
}
.container .header>ul>li{
    height: 59px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .header>ul>li>img{
    width: 48px;
    height: 48px;
}
.container .header>ul>li:hover{
    color: #ff5151;
}
.container .header>ul>li:nth-child(5){
    position: relative;
    color: #ff5151;
}
.container .header>ul>li:nth-child(5)::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background: #ff5151;
}
.container .header>ul>li:nth-child(8):hover span{
    background-position: 0px -50px;
}
.container .header>ul>li:last-child a{
    display: flex;
    align-items: center;
}
.container .header>ul>li:nth-child(8) span{
    align-self: flex-end;
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 21px;
    background:url(../img/iconfont.png) no-repeat -16px -50px;
}
.container .header>ul>li:nth-child(7):hover .list{
    display: flex;
    height: 141px;
}

.container .header>ul>li:nth-child(7) .list{
    color: white;
    width: 100%;
    /* height: 141px; */
    height: 0;
    position: fixed;
    top: 59.9px;
    left: 0;
    transition: all 1s ease-in-out;
    display: none;
    align-items: center;
    background: #272a2c;
    z-index: 999999;
}
.container .header>ul>li:nth-child(7) .list ul{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container .header>ul>li:nth-child(7) .list ul li div.left{
    width: 90px;
    height: 90px;
    margin-right: 5px;
}

.container .header>ul>li:nth-child(7) .list ul li:nth-child(1) div.left{
    background: url(../img/header_icon.png) no-repeat -90px 0px;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(2) div.left{
    background: url(../img/header_icon.png) no-repeat -90px 0px;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(3) div.left{
    background: url(../img/header_icon.png) no-repeat -90px 0px;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(4) div.left{
    background: url(../img/header_icon.png) no-repeat 0px 0px;
    border-radius: 5px;
}
.container .header>ul>li:nth-child(7) .list ul li div.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .header>ul>li:nth-child(7) .list ul li div.right span{
    display: block;
    width: 40px;
    height: 40px;
}
.container .header>ul>li:nth-child(7) .list ul li{
    display: flex;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(1) div.right span{
    background: url(../img/logo.png) no-repeat 0 0/100%;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(2) div.right span{
    background: url(../img/header_icon.png) no-repeat -181px -81px ;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(3) div.right span{
    background: url(../img/header_icon.png) no-repeat -181px -41px;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(4) div.right span{
    background: url(../img/header_icon.png) no-repeat -181px 0px;
}


.container .header>ul>li:nth-child(7) .list ul li .right div p:nth-child(1){
    font-size: 12px;
}
.container .header>ul>li:nth-child(7) .list ul li .right div p:nth-child(2){
    font-size: 14px;
}



/* 主体部分 */
.container .main{
    width: 100%;
    background-color: #f0f0f0;
}
.container .main .main_content{
    width: 1200px;
    margin: auto;
    padding: 20px 0;
}
.container .main .main_content h1{
    font-size: 24px;
    color: #5d5d5d;
    margin-bottom: 10px;
    font-weight: bold;
}
.container .main .main_content .context{
    display: flex;
    justify-content: space-between;
}
.container .main .main_content .context .main_context_left{
    padding: 0 20px;
    border-radius: 15px;
    background-color: white;
}
.container .main .main_content .context .main_context_left>div{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(26,42,71,.16);
}
.container .main .main_content .context .main_context_left>div:last-child{
    border: none;
}
.container .main .main_content .context .main_context_left>div div.text{
    width: 500px;
}
.container .main .main_content .context .main_context_left>div a.img{
    display: block;
    width: 310px;
    height: 160px;
    border-radius: 8px;
    margin-right: 15px;
}
.container .main .main_content .context .main_context_left>div .text p:nth-child(1) a{
    font-weight: bold;
}
.container .main .main_content .context .main_context_left>div .text p:nth-child(2) a{ 
    display: -webkit-box;
    font-size: 14px;
    width: 500px;
    height: 100px;
    color: #666;
    line-height: 24px;
   
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:4;
    word-wrap: normal;
    word-break: break-all;
    margin-top: 20px;
}

.container .main .main_content .context .main_context_left>div:nth-child(1) a.img{
    background: url(../img/content_img/content-01.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(2) a.img{
    background: url(../img/content_img/content-02.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(3) a.img{
    background: url(../img/content_img/content-03.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(4) a.img{
    background: url(../img/content_img/content-04.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(5) a.img{
    background: url(../img/content_img/content-05.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(6) a.img{
    background: url(../img/content_img/content-06.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(7) a.img{
    background: url(../img/content_img/content-07.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(8) a.img{
    background: url(../img/content_img/content-08.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(9) a.img{
    background: url(../img/content_img/content-09.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(10) a.img{
    background: url(../img/content_img/content-10.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(11) a.img{
    background: url(../img/content_img/content-11.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(12) a.img{
    background: url(../img/content_img/content-12.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(13) a.img{
    background: url(../img/content_img/content-13.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(14) a.img{
    background: url(../img/content_img/content-14.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(15) a.img{
    background: url(../img/content_img/content-15.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(16) a.img{
    background: url(../img/content_img/content-16.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(17) a.img{
    background: url(../img/content_img/content-17.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(18) a.img{
    background: url(../img/content_img/content-18.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(19) a.img{
    background: url(../img/content_img/content-19.jpg) no-repeat 0 0/100%;
}
.container .main .main_content .context .main_context_left>div:nth-child(20) a.img{
    background: url(../img/content_img/content-20.jpg) no-repeat 0 0/100%;
}



/* 右边固定区域 */
.main_content .context .main_context_right {
    border-radius: 8px;
    width: 312px;
    height: 308px;
    background:url(../img/fiexd-bg.png) no-repeat -547px 0px;
    position: fixed;
    left: 1240px;
    display: flex;
    align-items: flex-end;
}
.main_content .context .main_context_right >div {
    width: 100%;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.main_content .context .main_context_right >div div:nth-child(1){
    width: 100px;
    height: 100px;
    background: url(../img/QR_code.png) no-repeat -316px -100px;
}
.main_content .context .main_context_right >div div:nth-child(2){
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
.main_content .context .main_context_right >div div:nth-child(2) a{
    display: block;
    width: 104px;
    height: 34px;
    border-radius: 5px;
}
.main_content .context .main_context_right >div div:nth-child(2) a:nth-child(1){
    background: url(../img/fiexd-bg.png) no-repeat -415px -445px;
}
.main_content .context .main_context_right >div div:nth-child(2) a:nth-child(2){
    background: url(../img/fiexd-bg.png) no-repeat -624px -444px;
}
.main_content .context .main_context_right >div div:nth-child(2) a:nth-child(1):hover{
    background-position: -748px -325px;
}
.main_content .context .main_context_right >div div:nth-child(2) a:nth-child(2):hover{
    background-position: -520px -444px;
}


/* 上下页按钮 */
.container .main .main_content .btn{
    width: 550px;
    margin: auto;
    margin: 20px auto 40px auto;
}
.container .main .main_content .btn span{
    display: inline-block;
    width: 74px;
    height: 36px;
    border-radius: 20px;
    line-height: 36px;
    color: white;
    text-align: center;
    margin: 0 20px;
}
.container .main .main_content .btn span:nth-child(1){
    background-color: rgba(255,81,81,.5);
}
.container .main .main_content .btn span:nth-child(2){
    background-color: #ff5151;
}


/*footer部分 */
.container .footer{
    width: 100%;
    background: #272a2c;
    color: white;
}

.container .footer .footer_top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 186px;
    border-bottom: 1px solid hsla(0,0%,77.3%,.3);
}
.container .footer .footer_top .footer_top_content{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .footer .footer_top .footer_top_content .left{
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(1){
    width: 60px;
    height: 60px;
    background: url(../img/logo.png) no-repeat 0 0/100%;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(3){
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(3)::after{
    content: '';
    width: 113px;
    height: 113px;
    background: url(../img/QR_code.png) no-repeat 0px 0px;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4){
    width: 186px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span{
    display: block;
    width: 100%;
    height: 60px;
    cursor: pointer;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span:nth-child(1){
    background: url(../img/fiexd-bg.png) no-repeat -561px -325px;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span:nth-child(1):hover{
    background-position: 0px -385px;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span:nth-child(2){
    background: url(../img/fiexd-bg.png) no-repeat -374px -325px;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span:nth-child(2):hover{
    background-position: -187px -325px;
}
.container .footer .footer_top .footer_top_content .center{
    width: 1px;
    height: 96px;
    background:  hsla(0,0%,77.3%,.3);
    /* margin: 0 80px; */
}
.container .footer .footer_top .footer_top_content .right{
    width: 760px;
    /* height: 96px; */
}

.container .footer .footer_top .footer_top_content .right  ul li a:hover{
    color: #9aa6b0;
    text-decoration: underline #9aa6b0;
}
.container .footer .footer_top .footer_top_content .right p{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}
.container .footer .footer_top .footer_top_content .right ul{
    display: flex;
    flex-wrap: wrap;
}

.container .footer .footer_top .footer_top_content .right ul li{
    width: 84px;
    height: 16px;
    margin-right: 55px;
    margin-bottom: 12px;
    font-size: 14px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space:nowrap;
    word-spacing: normal;
}

.container .footer .footer_bottom{
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px 0;
}

.container .footer .footer_bottom .footer_top_bottom{
    width: 840px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.container .footer .footer_bottom  a:hover{
    text-decoration: underline;
}

.container .footer .footer_bottom .footer_top_bottom .right .right_bottom{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .footer .footer_bottom .footer_top_bottom .right .right_bottom a{
    display: block;
    background: #610000;
    padding: 5px 2px;
    text-decoration: none;
}


