body {
    background: url(../img/cg/cg-bg-1.jpg) no-repeat 0 0 rgb(30, 40, 49);
}


/* 头部.................... */

.cg-header {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.05);
}

.cg-header .head {
    margin: auto;
    width: 1606px;
    height: 80px;
}

.cg-header .logo {
    float: left;
    width: 127px;
    height: 80px;
    background: url(../img/cg/cg-header-logo.png) no-repeat 0 25px /127px 30px;
}

.cg-header .head-list {
    float: left;
    margin-left: 64px;
}
.cg-header .head-list>li label {
    padding: 0 10px;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    cursor: pointer;
}

.cg-header .head-list>li {
    float: left;
    margin-right: 40px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.5);
    border-top: 3px solid transparent;
}

.cg-header .head-list>li>a {
    height: 80px;
    line-height: 80px;
    font-size: 14px;
}

.cg-header .head-list>li>a:hover {
    color: #fff;
    font-weight: 700;
}
.cg-header .head-list>li label:hover {
    color: #fff;
    font-weight: 700;
}
.cg-header .head-list>li:nth-of-type(2) {
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-top: 3px solid #03c47e;
}
/* 登录按钮 */

.cg-header .head-btn {
    float: right;
    margin-top: 25px;
    width: 94px;
    height: 36px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    border-radius: 20px;
    background-color: #03c47e;
}

.cg-header .head-btn:hover {
    transition: background-image 3s ease-in-out 1s;
    background-image: radial-gradient(ellipse farthest-corner at bottom, #aafced 0, #03c47e 65%);
}
.cg-head-btn-login {
    display: none;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
}
.cg-head-btn-login-main {
    z-index: 15;
    position: absolute;
    top: 0;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 382px;
    height: 350px;
    border-radius: 4px;
    background: #28333d;
}
.cg-head-btn-login-main h3 {
    width: 382px;
    height: 64px;
    background: #1e2831;
    position: relative;
    text-align: center;
    line-height: 64px;
    color: #fff;
    border-radius: 4px 4px 0 0;
    font-size: 16px !important;
}
.cg-head-btn-login-main h3 i {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 168px;
    height: 120px;
    background: url(../img/cg/cg-download/cg-feedback-1.png) 0 0/168px 120px;
}
.cg-head-btn-login-main-bottom {
    box-sizing: border-box;
    width: 100%;
    height: 286px;
    padding: 24px 16px 0;
}
.cg-head-btn-login-main-bottom h4 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.cg-head-btn-login-main-bottom p {
    font-size: 12px;
    color: #a5a9ac;
}
.cg-head-btn-login-input {
    box-sizing: border-box;
    margin: 16px 0 32px 0;
    padding: 0 16px;
    width: 350px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: rgb(30, 40, 49);
}
.cg-head-btn-login-input span {
    font-size: 12px;
    color: #b4c0c9;
}
.cg-head-btn-login-input i {
    display: inline-block;
    margin: 0 5px;
    width: 8px;
    height: 8px;
    transform: rotate(-90deg);
    background: url(../img/cg/cg-download/cg-head-btn-login-1.png) no-repeat 0 0 /8px 8px;
}
.cg-head-btn-login-main-bottom input {
    position: absolute;
    top: 177px;
    left: 82px;
    width: 275px;
    height: 34px;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #fff;
    outline: none;
}
.cg-head-btn-logint input::placeholder {
    font-size: 12px;
}
.cg-head-btn-login input:focus +.cg-head-btn-login-input {
    border-color: #03c47e;
}
.cg-head-btn-login-next {
    width: 350px;
    height: 36px;
    background-color: #03c47e;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
}
.cg-head-btn-login-next:hover {
    transition: background-image 3s ease-in-out 1s;
    background-image: radial-gradient(ellipse farthest-corner at bottom, #aafced 0, #03c47e 65%);
}
/* 打开与关闭登录 */
#cg-head-btn:checked ~.cg-head-btn-login  {
    display: block;
}
#cg-head-btn:checked ~.cg-head-btn-login label  {
    display: block;
}
#cg-head-btn-off:checked ~.cg-head-btn-login {
    display: none;
}
#cg-head-btn-off:checked {
    display: none;
}
.cg-head-btn-login-main label {
    /* display: none; */
    z-index: 16;
    position: absolute;
    top: 0px;
    right: -50px;
    width: 32px;
    height: 32px;
    background: url(../img/cg/cg-download/cg-feedback-x.png) no-repeat 0 0 /32px 32px;
}
.cg-head-btn-login label:hover {
    background: url(../img/cg/cg-download/cg-feedback-xx.png) no-repeat 0 0 /32px 32px;
}
/* 上方滚动通知公告 */

.cg-notice {
    box-sizing: border-box;
    margin: auto;
    padding: 8px 16px;
    width: 1606px;
    height: 40px;
    color: #f3ae1f;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.1);
}

.cg-notice i {
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: url(../img/cg/cg-notice-1.png) 0 2px /20px 20px;
}

.cg-notice-main {
    overflow: hidden;
}

.cg-notice-main span {
    display: inline-block;
    white-space: nowrap;
    line-height: 20px;
    animation: notice 30s 3s linear infinite;
}

@keyframes notice {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* 底部 */

.cg-footer {
    box-sizing: border-box;
    padding: 30px 0;
    width: 100%;
    height: 167px;
}

.cg-footer-main {
    margin: auto;
    width: 900px;
    height: 107px;
    font-size: 12px;
    color: #8b969f;
    line-height: 1.8;
}

.cg-footer-main-top {
    width: 100%;
    height: 42px;
}

.cg-footer-main-img {
    float: left;
    margin-top: 5px;
    width: 300px;
    height: 37px;
}

.cg-footer-main-text {
    float: left;
}

.cg-footer-main>a {
    clear: both;
    display: block;
    margin: 15px auto 0;
    width: 163px;
}


/* 下载页面 */

.cg-download-main {
    margin: 50px auto;
    width: 1080px;
    height: 600px;
}

.cg-download-main-top {
    position: relative;
    width: 1080px;
    height: 64px;
    background-image: linear-gradient(122deg, rgba(53, 74, 96, .15), rgba(48, 64, 81, .4) 83%);
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
}

.cg-download-main-top img:nth-of-type(1) {
    position: absolute;
    top: -12px;
    left: 190px;
    width: 244px;
    height: 88px;
}

.cg-download-main-top img:nth-of-type(2) {
    position: absolute;
    top: 12px;
    left: 460px;
    width: 436px;
    height: 40px;
}

.cg-download-main-bottom {
    margin-top: 40px;
    width: 1080px;
    height: 450px;
}

.cg-download-main-bottom ul li {
    float: left;
    margin-right: 36px;
    width: 336px;
    height: 450px;
    text-align: center;
    border-radius: 4px;
    background-image: radial-gradient(50% 100% at 0 0, #354a60 39%, #304051 100%);
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, .1);
}

.cg-download-main-bottom ul li:nth-of-type(3) {
    margin: 0;
}

.cg-download-main-bottom li p:nth-of-type(1) {
    margin-top: 36px;
    font-size: 14px;
    line-height: 20px;
    color: #b4c0c9;
}

.cg-download-main-bottom li p:nth-of-type(1) i {
    display: inline-block;
    margin-right: 4px;
    width: 18px;
    height: 20px;
    vertical-align: middle;
    background: url(../img/cg/cg-download/cg-download-mobile.png) no-repeat 0 0 /18px 18px;
}

.cg-download-main-bottom li p:nth-of-type(2) {
    margin-top: 32px;
    line-height: 25px;
    color: #03c47e;
    font-size: 18px;
}

.cg-download-main-bottom li span {
    display: block;
    margin-top: 10px;
    color: #b4c0c9;
    font-size: 12px;
    line-height: 18px;
}

.cg-download-main-bottom li a {
    display: block;
    margin: 0 auto;
    padding: 0 32px;
    width: 208px;
    height: 36px;
    border: 1px solid #03c47e;
    background: #03c47e;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    height: 36px;
    line-height: 34px;
    border-radius: 20px;
    box-sizing: border-box;
}

.cg-download-main-bottom li .cg-download-main-bottom-store {
    box-sizing: border-box;
    display: block;
    margin: 12px auto 0;
    padding: 0 32px;
    width: 208px;
    height: 36px;
    border: 1px solid #61686f;
    color: #8b969f;
    cursor: default;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    height: 36px;
    line-height: 34px;
    border-radius: 20px;
}

.cg-download-main-bottom li:nth-of-type(1) img {
    display: block;
    width: 112px;
    height: 112px;
    margin: auto;
}

.cg-download-main-bottom-img {
    box-sizing: border-box;
    padding-top: 26px;
    width: 336px;
    height: 186px;
}


/* 第二个li */

.cg-download-main-bottom li:nth-of-type(2) p:nth-of-type(1) i {
    background: url(../img/cg/cg-download/cg-download-tv.png) no-repeat 0 0 /18px 18px;
}

.cg-download-main-bottom li:nth-of-type(2) img {
    display: block;
    width: 208px;
    height: 136px;
    margin: 24px auto 26px;
}


/* 第三个li */

.cg-download-main-bottom li:nth-of-type(3) p:nth-of-type(1) i {
    background: url(../img/cg/cg-download/cg-download-pc.png) no-repeat 0 0 /18px 18px;
}

.cg-download-main-bottom li:nth-of-type(3) img {
    display: block;
    width: 208px;
    height: 136px;
    margin: 24px auto 28px;
}

.cg-download-main-bottom li:nth-of-type(3) span {
    padding-top: 26px;
}

.cg-download-main-bottom li a:hover {
    transition: background-image 3s ease-in-out 1s;
    background-image: radial-gradient(ellipse farthest-corner at bottom, #aafced 0, #03c47e 65%);
}


