/* 页面自定义滚动条 */
body::-webkit-scrollbar{
    width: 6px;
    /* height: 6px; */
}
body::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(26,42,71,.16);
}
body::-webkit-scrollbar-track{
    background-color: transparent;
}
body{
    background-color: #f1f1f1;
}

.container{
    width: 100%;
}

/* 头部 */
.container .header{
    height: 60px;
    background-color: #fff;
}
.container .header>ul{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    font-size: 18px;
}
.container .header>ul>li{
    height: 59px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .header>ul>li>img{
    width: 48px;
    height: 48px;
}
.container .header>ul>li:hover{
    color: #ff5151;
}
.container .header>ul>li:nth-child(2){
    position: relative;
    color: #ff5151;
}
.container .header>ul>li:nth-child(2)::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background: #ff5151;
}
.container .header>ul>li:nth-child(8):hover span{
    background-position: 0px -50px;
}
.container .header>ul>li:last-child a{
    display: flex;
    align-items: center;
}
.container .header>ul>li:nth-child(8) span{
    align-self: flex-end;
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 21px;
    background:url(../img/iconfont.png) no-repeat -16px -50px;
}
.container .header>ul>li:nth-child(7):hover .list{
    display: flex;
    height: 141px;
}

.container .header>ul>li:nth-child(7) .list{
    color: white;
    width: 100%;
    /* height: 141px; */
    height: 0;
    position: fixed;
    top: 59.9px;
    left: 0;
    transition: all 1s ease-in-out;
    display: none;
    align-items: center;
    background: #272a2c;
    z-index: 999999;
}
.container .header>ul>li:nth-child(7) .list ul{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container .header>ul>li:nth-child(7) .list ul li div.left{
    width: 90px;
    height: 90px;
    margin-right: 5px;
}

.container .header>ul>li:nth-child(7) .list ul li:nth-child(1) div.left{
    background: url(../img/header_icon.png) no-repeat -90px 0px;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(2) div.left{
    background: url(../img/header_icon.png) no-repeat -90px 0px;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(3) div.left{
    background: url(../img/header_icon.png) no-repeat -90px 0px;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(4) div.left{
    background: url(../img/header_icon.png) no-repeat 0px 0px;
    border-radius: 5px;
}
.container .header>ul>li:nth-child(7) .list ul li div.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .header>ul>li:nth-child(7) .list ul li div.right span{
    display: block;
    width: 40px;
    height: 40px;
}
.container .header>ul>li:nth-child(7) .list ul li{
    display: flex;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(1) div.right span{
    background: url(../img/logo.png) no-repeat 0 0/100%;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(2) div.right span{
    background: url(../img/header_icon.png) no-repeat -181px -81px ;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(3) div.right span{
    background: url(../img/header_icon.png) no-repeat -181px -41px;
}
.container .header>ul>li:nth-child(7) .list ul li:nth-child(4) div.right span{
    background: url(../img/header_icon.png) no-repeat -181px 0px;
}


.container .header>ul>li:nth-child(7) .list ul li .right div p:nth-child(1){
    font-size: 12px;
}
.container .header>ul>li:nth-child(7) .list ul li .right div p:nth-child(2){
    font-size: 14px;
}









    /* 所有主体内容的盒子，所有自动对齐此盒子。页面不用反复顶边距 */
.content{
    width: 1200px;
    margin: 0px auto;
}

/* 第一部分 */
.part1{
    height: 345px;
    border-radius: 6px;
    margin: 25px 0;
    overflow: hidden;
}
.part1-left{
    width: 825px;
    float: left;
    height: 100%;
    position: relative;
}
.part1-l-view{
    width: 825px;
    height: 100%;
    overflow: hidden;
}
@keyframes part1-longrun{
    form{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-826px);
    }
    to{
        transform: translateX(0);
    }
}
.part1-l-long{
    width: 1652px;
    animation: infinite part1-longrun 15s steps(1);
}
.part1-l-long>img{
    float: left;
}
.part1-l-nav{
    position: absolute;
    top: 300px;
    height: 45px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
}
.part1-l-nav a{
    float: left;
    /* width: 90px; */
    height: 100%;
    padding: 0 40px;
    font-size: 18px;
    color: #ff5151;
    line-height: 45px;
}

/* 小竖线分割a标签 */
.part1-l-nav a:nth-child(1)::after{
    content: "|";
    width: 1px;
    height: 20px;
    color: gray;
    position: relative;
    left: 40px;
}

.part1-right{
    width: 375px;
    height: 100%;
    border-left: 2px solid #fff;
    background: url(../img/part1-right.jpg);
    float: right;
    box-sizing: border-box;
    position: relative;
}
.part1-right span{
    display: block;
    width: 97px;
    height: 97px;
    position:absolute;
    top: 212px;
    left: 66px;
    background: url(../img/QR_code.png) 101px 0px;
}
.part1-right-1{
    display: block;
    width: 139px;
    height: 55px;
    position:absolute;
    top: 200px;
    left: 190px;
    background: url(../img/fiexd-bg.png) 209px 184px;
}
.part1-right-2{
    display: block;
    width: 139px;
    height: 55px;
    position:absolute;
    top: 260px;
    left: 190px;
    background: url(../img/fiexd-bg.png) -276px 126px;
}

/* 第二部分 */
.part2{
    width: 100%;

}
.part2-title h2{
    font-size: 24px;
    font-weight: bolder;
    padding: 10px 0px 20px;
}
.part2-content{
    overflow: hidden;
}
.part2-content>div{
    width: 590px;
    margin-right: 10px;
    float: left;
}
.part2-page{
    background-color: #fff;
    border-radius: 6px;
    margin: 0 10px 20px 0;
}
.part2-page>div{
    padding: 0 20px;
}
.p2-p-title{
    height: 80px;
    border-bottom: 1px solid #f0f0f0;
}
.p2-p-title>img{
    float: left;
    margin-right: 10px;
    border-radius: 6px;
    width: 38px;
    height: 38px;
    margin: 20px 10px 0 0;
}
.p2-p-title>span{
    font-size: 18px;
    line-height: 80px;
}
.p2-p-title>a{
    float: right;
    font-size: 14px;
    line-height: 80px;
    color: #999;
}
.p2-p-ueser{
    height: 45px;
    margin-top: 15px;
}
.p2-p-ueser>img{
    width: 38px;
    height: 38px;
    border-radius: 6px;
    float: left;
    margin-right: 15px;
}
.p2-p-name{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}
.p2-p-time{
    font-size: 14px;
    color: #999;
    margin: 5px;
}
.p2-p-text p{
    font-size: 18px;
}
.p2-p-text p a{
    color: #5778a1;
}
.p2-p-btns{
    color: #999;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #f0f0f0;;
}
.p2-p-btns a{
    margin-right: 40px;
}
.p2-p-imgs{
    overflow: hidden;
    width: 100%;

}
.p2-p-imgs>div{
    margin: 15px;
    margin-left: 0px;
    width: 172px;
    height: 172px;
    float: left;
    border-radius: 6px;
}
.p2-p-btn1{
    width: 15px;
    height: 15px;
    background: url(../img/p2-p-btn1.png) no-repeat 0 0/100% 100%;
    display: inline-block;
    /* float: left; */
    margin: 10px 10px 0 0;
}
.p2-p-btn2{
    width: 15px;
    height: 15px;
    background: url(../img/p2-p-btn2.png) no-repeat 0 0/100% 100%;
    display: inline-block;
    /* float: left; */
    margin:10px 10px 0 0;
}
.p2-p-btn3{
    width: 15px;
    height: 15px;
    background: url(../img/p2-p-btn3.png) no-repeat 0 0/100% 100%;
    display: inline-block;
    /* float: left; */
    margin:10px 10px 0 0;
}



/* 以上部分共同框架 以下部分插入不同数据 */
.p2-p-img1{
    background: url(../img/p2-p-img1.jpeg);
}
.p2-p-img2{
    background: url(../img/p2-p-img2.jpeg);
}
.p2-p2-img1{
    background: url(../img/p2-p2-img1.jpeg);
}
.p2-p3-img1{
    background: url(../img/p2-p3-img1.jpeg);
}
.p2-pr1-img1{
    background: url(../img/p2-pr1-img1.jpeg);
}
.p2-pr1-img2{
    background: url(../img/p2-pr1-img2.jpeg);
}
.p2-pr1-img3{
    background: url(../img/p2-pr1-img2.jpeg);
}
.p2-pr1-img4{
    background: url(../img/p2-pr1-img3.jpeg);
}
.p2-pr2-img1{
    background: url(../img/p2-pr2-img1.jpeg);
}
.p2-pr2-img2{
    background: url(../img/p2-pr2-img2.jpeg);
}
.p2-pr2-img3{
    background: url(../img/p2-pr2-img3.jpeg);
}
.p2-pr2-img4{
    background: url(../img/p2-pr2-img4.jpeg);
}
.p2-pr2-img5{
    background: url(../img/p2-pr2-img5.jpeg);
}
.p2-pr2-img7{
    background: url(../img/p2-pr2-img7.jpeg);
}
.p2-pr2-img7{
    background: url(../img/p2-pr2-img7.jpeg);
}
.part2 .part2-btn{
    width: 100%;
}
.part2-btn a{
    display: block;
    width: 460px;
    height: 60px;
    margin: auto;
    background-color: #e23232;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 60px;
    margin-bottom: 20px;
}






/*footer部分 */
.container .footer{
    width: 100%;
    background: #272a2c;
    color: white;
}

.container .footer .footer_top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 186px;
    border-bottom: 1px solid hsla(0,0%,77.3%,.3);
}
.container .footer .footer_top .footer_top_content{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .footer .footer_top .footer_top_content .left{
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(1){
    width: 60px;
    height: 60px;
    background: url(../img/logo.png) no-repeat 0 0/100%;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(3){
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(3)::after{
    content: '';
    width: 113px;
    height: 113px;
    background: url(../img/QR_code.png) no-repeat 0px 0px;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4){
    width: 186px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span{
    display: block;
    width: 100%;
    height: 60px;
    cursor: pointer;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span:nth-child(1){
    background: url(../img/fiexd-bg.png) no-repeat -561px -325px;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span:nth-child(1):hover{
    background-position: 0px -385px;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span:nth-child(2){
    background: url(../img/fiexd-bg.png) no-repeat -374px -325px;
}
.container .footer .footer_top .footer_top_content .left div:nth-child(4) span:nth-child(2):hover{
    background-position: -187px -325px;
}
.container .footer .footer_top .footer_top_content .center{
    width: 1px;
    height: 96px;
    background:  hsla(0,0%,77.3%,.3);
    /* margin: 0 80px; */
}
.container .footer .footer_top .footer_top_content .right{
    width: 760px;
    /* height: 96px; */
}

.container .footer .footer_top .footer_top_content .right  ul li a:hover{
    color: #9aa6b0;
    text-decoration: underline #9aa6b0;
}
.container .footer .footer_top .footer_top_content .right p{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}
.container .footer .footer_top .footer_top_content .right ul{
    display: flex;
    flex-wrap: wrap;
}

.container .footer .footer_top .footer_top_content .right ul li{
    width: 84px;
    height: 16px;
    margin-right: 55px;
    margin-bottom: 12px;
    font-size: 14px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space:nowrap;
    word-spacing: normal;
}

.container .footer .footer_bottom{
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px 0;
}

.container .footer .footer_bottom .footer_top_bottom{
    width: 840px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.container .footer .footer_bottom  a:hover{
    text-decoration: underline;
}

.container .footer .footer_bottom .footer_top_bottom .right .right_bottom{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .footer .footer_bottom .footer_top_bottom .right .right_bottom a{
    display: block;
    background: #610000;
    padding: 5px 2px;
    text-decoration: none;
}